:root {
--color-background: #fff;
--color-text: #242424;
--color-text-light: rgba(255, 255, 255, 0.87);
--color-border: #ccc;
--color-valid: rgb(93, 208, 93);
--color-invalid: rgb(247, 86, 86);
--color-keyboard-bg: #d3d6da;
}

// Dark mode colors
[data-theme="dark"] {
--color-background: #181818;
--color-text: #f5f5f5;
--color-border: #444;
--color-keyboard-bg: #23272f;
--color-valid: #4fd964;
--color-invalid: #ff5c5c;
}